#imageList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 0;
}

#imageList li {
    display: flex;
    flex-direction: column; /* Change to column */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the content horizontally */
}

#imageList img {
    max-width: 100%;
    height: auto;
}

#imageList span,
#imageList label,
#imageList button {
    margin-top: 5px; /* Add some spacing between elements */
    width: 100%; /* Make the elements take the full width */
}