#imageList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 0;
}

#imageList li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageList img {
    max-width: 100%;
    height: auto;
}